<template>
    <div>
        <TheNavigationDrawer/>
        <TheHeader/>
        <TheContent/>
    </div>
</template>

<script>
  import TheNavigationDrawer from "@/pages/TheNavigationDrawer";
  import TheHeader from "@/pages/TheHeader";
  import TheContent from "@/pages/TheContent";

  export default {
    name: "TheBackOffice",
    components: { TheContent, TheHeader, TheNavigationDrawer }
  }
</script>

<style scoped>

</style>