<template>
  <v-content>
    <v-container fluid fill-height grid-list-md>
      <router-view></router-view>
    </v-container>
  </v-content>
</template>

<script>
  export default {
    name: "TheContent"
  }
</script>

<style scoped>
  .v-content {
    height: 100%;
  }
</style>
