<template>
  <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      fixed
      app>
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-title class="text-uppercase"
                     :class="{ headline: $vuetify.breakpoint.lgAndUp, subheading: $vuetify.breakpoint.smAndDown }">
      <span>Questioner</span>
      <span class="font-weight-light">Builder</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>

<script>
  import GetterSetterProp from "@/utils/GetterSetterProp";

  export default {
    name: "TheHeader",
    computed: {
      drawer: GetterSetterProp("BaseStore", "drawer", "SET_BOOL")
    },
    mounted() {
      this.drawer = this.$vuetify.breakpoint.lgAndUp;
    }
  }
</script>

<style scoped>

</style>
