<template>
    <v-content fill-height class="half-bg">
      <v-container fluid fill-height align-center justify-center>
                <v-flex flex xs12 sm8 md4 lg4>
                    <v-card id="#loginCard" class="elevation-1">
                        <v-card-text>
                            <h1 class="flex my-4">Amazing Toolbox Login</h1>
                            <v-form v-model="valid">
                                <v-text-field
                                        v-model="email"
                                        label="E-mail"
                                        required
                                ></v-text-field>
                                <v-text-field
                                        v-model="password"
                                        label="Password"
                                        type="password"
                                        required
                                ></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn small color="primary">Register</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn small color="primary">Login</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
      </v-container>
    </v-content>
</template>

<script>
  import Validators from '@/utils/Validators';

  export default {
    name: "TheLogin",
    data: () => ({
      valid: true,
      email: '',
      password: '',
      validations: {
        email: [Validators.required]
      }
    })
  }
</script>

<style scoped>
  .half-bg:before{
    content : '';
    position : absolute;
    height: 50vh;
    width : 100%;
    background-color: brown;
  }
</style>
