<template>
  <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
  >
    <v-list dense>
      <router-link :to="item.path" v-for="item in items" :key="item.text">
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  import GetterSetterProp from "@/utils/GetterSetterProp";

  export default {
    name: "TheNavigationDrawer",
    data: () => ({
      items: [
        { icon: 'dashboard', text: 'Dashboard', path: '/app/dashboard' },
        { icon: 'list', text: 'TODOs', path: '/app/todos' },
        { icon: 'format_align_left', text: 'Notes', path: '/app/notes' },
        { icon: 'list_alt', text: 'Questionnaires', path: '/app/questionnaires' },
      ]
    }),
    computed: {
      drawer: GetterSetterProp("BaseStore", "drawer", "SET_BOOL")
    },
    watch: {
      active(val) {
        if (!val.length) return undefined;
        const id = val[0];
        this.$router.push(`/products?categories=${id}`);
      }
    }
  }
</script>

<style scoped>
  .v-list a {
    text-decoration: none;
    color: inherit;
  }
</style>
