<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-layout row wrap v-if="notes.length">
        <v-flex v-bind="{ [`xs${ $vuetify.breakpoint.smAndDown ? 12 : 3}`]: true }"
                v-for="note in notes" :key="note.id">
          <note-item :note-id="note.id"/>
        </v-flex>
      </v-layout>

      <v-alert
          v-else
          :value="true"
          outline
          type="info">
        There are <b>0</b> Notes. Come on don't be lazy add some.
      </v-alert>
      <v-fab-transition>
        <v-btn
            color="blue"
            dark
            fixed
            bottom
            right
            fab>
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-flex>
  </v-layout>
</template>

<script>
  import NoteItem from "@/components/NoteItem";

  export default {
    name: "TheNotes",
    components: { NoteItem },
    data: () => ({
      notes: []
    })
  }
</script>

<style scoped>

</style>
