<template>
    <v-layout row wrap>
        <v-flex xs12>
            <todo-list
                    v-if="todoLists.length"
                    :delete-todo-list="deleteTodoList"
                    :update-todo-list="updateTodoList"
                    :todoLists="todoLists"/>

            <v-alert
                    v-else
                    :value="true"
                    outline
                    type="info">
                There are <b>0</b> TODO lists. Come on don't be lazy add some.
            </v-alert>

            <v-fab-transition>
                <v-btn
                        color="pink"
                        dark
                        fixed
                        bottom
                        right
                        fab
                        @click="newTodoList()"
                >
                    <v-icon>add</v-icon>
                </v-btn>
            </v-fab-transition>
        </v-flex>

        <TodoListForm :todo-list-id="todoListId"/>
    </v-layout>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import TodoList from "@/components/TodoList";
  import GetterSetterProp from "@/utils/GetterSetterProp";
  import TodoListForm from "@/components/TodoListForm";

  export default {
    name: "TheTODOs",
    components: { TodoListForm, TodoList },
    data: () => ({
      todoListId: null
    }),
    created() {
      this.$store.dispatch('TODOStore/fetchTodoLists');
    },
    computed: {
      ...mapState('TODOStore', ['todoLists']),
      dialog: GetterSetterProp('TODOStore', 'dialog', 'SET_BOOL')
    },
    methods: {
      ...mapActions('TODOStore', ['deleteTodoList']),
      newTodoList() {
        this.$store.dispatch('TODOStore/newTodoList').then((response) => {
          this.todoListId = response.id;
          this.dialog = true;
        });
      },
      updateTodoList(todoList) {
        this.dialog = true;
        this.todoListId = todoList.id;
      }
    }
  }
</script>

<style scoped>

</style>
