<template>
  <v-snackbar-queue
      :items="items"
      @remove="removeItem"
  ></v-snackbar-queue>
</template>

<script>

  export default {
    name: "SnackBarQueueWrapper",
    props: {
      items: { type: Array, default: () => [] },
      removeItem: Function
    }
  }
</script>
