<template>
  <v-layout row wrap>
    <v-flex v-bind="{ [`xs${ $vuetify.breakpoint.smAndDown ? 12 : 3}`]: true }"
            v-for="todoList in todoLists" :key="todoList.id">
      <v-card>
        <v-card-title style="padding: 5px 10px;">
          <v-layout>
            <v-flex class="align-self-center cursor" @click="updateTodoList(todoList)">
              <h3 class="text-xs-center">{{todoList.title}}</h3>
            </v-flex>
            <v-flex class="align-self-center text-xs-center" xs2>
              <v-btn icon color="red" class="ma-0" dark @click="deleteTodoList(todoList)">
                <v-icon>delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: "TodoList",
    props: {
      updateTodoList: Function,
      deleteTodoList: Function,
      todoLists: Array
    }
  }
</script>

<style scoped>
  .cursor{
    cursor: pointer;
  }
</style>
