<template>
  <v-layout row justify-center v-if="todoListId">
    <v-dialog v-model="dialog" persistent scrollable max-width="800px">
      <v-card>
        <v-card-title>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                      clearable
                      :rules="[v => !!v || 'Field is required']"
                      v-model="theTodoList.title"
                      @keyup="saveTodoTitleTimer"
                      label="Type your todo list name"
                      class="mt-0 pt-0"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                      clearable
                      v-model="newTodo"
                      label="Type your task"
                      @keyup.enter.prevent="addTodoItem"
                      append-outer-icon="add"
                      @click:append-outer-icon.prevent="addTodoItem"
                      class="mt-0 pt-0"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text :style="{ height: $vuetify.breakpoint.lgAndUp ? '600px' : '300px' }">
          <v-container grid-list-md>
            <v-layout row wrap>
              <transition-group
                  v-on:before-enter="displayEmpty = false"
                  v-on:after-leave="displayEmpty = true"
                  name="list"
                  style="width: 100%">
                <v-flex xs12 v-for="todoItem in theTodoList.todoItems" :key="todoItem.id">
                  <TodoListItem :todo-item="todoItem"/>
                </v-flex>
              </transition-group>
              <v-flex xs12 v-if="!theTodoList.todoItems.length && displayEmpty">
                <v-card dark>
                  <v-card-title>There is no elements in this todo list. Come on add some!!</v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closeDialog()">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import GetterSetterProp from "@/utils/GetterSetterProp";
  import Validators from "@/utils/Validators";
  import TodoListItem from "@/components/TodoListItem";

  export default {
    name: "TodoListForm",
    components: { TodoListItem },
    props: {
      todoListId: Number
    },
    data() {
      return {
        titleTimer: null,
        titleTimerTime: 5000,
        newTodo: '',
        valid: false,
        displayEmpty: true,
        theTodoList: {
          title: '',
          todoItems: []
        },
        rules: {
          max: Validators.max,
          arrayNotEmpty: Validators.arrayNotEmpty
        }
      }
    },
    computed: {
      dialog: GetterSetterProp('TODOStore', 'dialog', 'SET_BOOL'),
    },
    methods: {
      addTodoItem() {
        let title = this.newTodo && this.newTodo.trim();
        if (!title) return;
        this.$store.dispatch('TODOStore/newTodoItem', { todoListId: this.todoListId, title }).then(() => {
          this.newTodo = '';
        });
      },
      saveTodoTitleTimer() {
        if (this.titleTimer) clearTimeout(this.titleTimer);
        this.titleTimer = setTimeout(() => {
          // DO SAVE
        }, this.titleTimerTime);
      },
      closeDialog() {
        if (this.$refs.form.validate()) {
          this.dialog = false;
        }
      },
    },
    watch: {
      dialog(newVal) {
        if (newVal) {
          this.$store.dispatch('TODOStore/fetchTodoList', this.todoListId).then(response => {
            this.theTodoList = response;
            this.newTodo = '';
          });
        } else {
          this.$refs.form.resetValidation();
          this.valid = true;
        }
      }
    }
  }
</script>

<style scoped>
  .v-form {
    width: 100%;
  }

  .list-enter-active, .list-leave-active {
    transition: all 0.3s;
  }

  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */
  {
    opacity: 0;
    transform: translateY(30px);
  }
</style>
