<template>
  <v-card v-bind="{ [`${ todoItem.done ? 'light' : 'dark'}`]: true }">
    <v-card-title style="padding: 5px 10px;">
      <v-layout>
        <v-flex @click="toggleTodoCompleteness(todoItem)"
                class="pt-0 align-self-center"
                :class="{'todo-done': todoItem.done}">
          {{todoItem.title}}
        </v-flex>
        <v-flex class="pt-0 align-self-center text-xs-center" v-bind="{ [`${ $vuetify.breakpoint.mdAndUp ? 'xs1' : 'xs2'}`]: true }">
          <v-btn icon color="red" @click="deleteTodo(todoItem)">
            <v-icon>delete</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-title>
  </v-card>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: "TodoListItem",
    props: {
      todoItem: Object
    },
    methods: {
      ...mapActions('TODOStore', ['toggleTodoCompleteness', 'deleteTodo'])
    }
  }
</script>

<style scoped>
  .todo-done {
    text-decoration: line-through;
  }
</style>
