<template>
    <v-app>
        <router-view></router-view>

        <SnackBarQueueWrapper
                :remove-item="removeItem"
                :items="snackBarItems"/>

        <FullScreenLoader
                :progress-color="fullScreenLoader.progressColor"
                :message="fullScreenLoader.message"
                :value="fullScreenLoader.value"/>
    </v-app>
</template>

<script>
  import SnackBarQueueWrapper from "@/components/SnackBarQueueWrapper";
  import FullScreenLoader from "@/components/FullScreenLoader";

  import { mapState } from 'vuex';

  export default {
    name: 'App',
    components: { FullScreenLoader, SnackBarQueueWrapper },
    computed: {
      ...mapState('GlobalComponentStore', ['fullScreenLoader']),
      ...mapState('GlobalComponentStore', ['snackBarItems']),
    },
    methods: {
      removeItem(id) {
        this.$store.dispatch('GlobalComponentStore/removeSnackBarAlert', id)
      }
    }
  }
</script>

<style>
    html {
        overflow: hidden;
    }
</style>
